body{
    background: radial-gradient(rgb(63, 105, 145),rgb(168, 17, 100));
}
canvas{
    display: block;
    margin:auto;
    margin-bottom: 3%;
    border-radius: 20px;
    box-shadow: 0 0 40px rgb(255, 255, 255);
    
}
.weather{
  transition: .6s all;
  display: table;
  background-color: white;
  margin: auto;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 0px 30px 0px 30px;
  /* color: black; */
  /* text-shadow: 2px 2px 8px white; */
}

/* a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
} */
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;

  }
  
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    padding:  40px 0px;
    width: auto;
  }
  
  
  
  .btn {
    padding-inline: 25px;
    margin: 10px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
 
  .effect01 {
    color: #FFF;
    border: 4px solid rgb(215 19 104);
    box-shadow:0px 0px 15px 1px rgb(215 19 104);
    background-color: rgb(215 19 104);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
    border: 4px solid rgb(255, 255, 255);
    box-shadow:0px 0px 15px 1px #FFF;
    background-color: #FFF;

  }
  
 
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: rgb(215 19 104);
    
  }
  
 
  .effect01:after {
    background: #FFF;
    border: 0px solid rgb(215 19 104);
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }